* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #333;
}

.container {
    padding-top: 200px;
    height: 100vh;
}

.card {
    display: flex;
    justify-content: center;
}

.butoon {
    padding-top: 50px;
}

.btn {
    padding: 60px 90px;
    &__item {
        width: 250px;
        height: 80px;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: #405D72;
        font-size: 23px;
        font-family: sans-serif;
    } 
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__input1 {
        padding: 10px 30px;
        text-align: center;
        font-family: sans-serif;
        font-size: 15px;
        margin-bottom: 10px;
    }

    &__label {
        color: white;
        font-family: sans-serif;
        margin-bottom: 5px;
    }

    &__input2 {
        margin-bottom: 30px;
    }

    &__button {
        padding: 5px 20px;
        font-family: sans-serif;
        font-size: 15px;
        color: black;
        border-radius: 6px;
    }
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p {
    color: white;
    font-family: sans-serif;
    text-align: center;
    max-width: 300px;
    font-size: 17px;
    margin-bottom: 30px;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__buton {
        width: 100px;
        height: 30px;
        color: black;
        border-radius: 6px;
    }
}

.content {
    text-align: center;
}

.imgItem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.img {
    width: 360px;
    height: 200px;
    border-radius: 6px;
}

h2 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 70px;
}

.photoBtn {
    width: 200px;
    height: 200px;
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.video {
    padding-left: 20px;
}


//PreLoader

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
